.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 140px;
}
.main-container {
  display: flex;
  width: 100%;
  padding: 0 40px;
}

.show-empty {
  margin: 10px 0;
}
.section-holder:nth-child(1) {
  width: 100%;
  margin-right: 20px;
  flex: 5;
}
.section-holder:nth-child(2) {
  width: 100%;
  margin-left: 20px;
  flex: 3;
}

* {
  box-sizing: border-box;
  text-align: left;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
td {
}

#showEmpty {
  zoom: 1.5;
  opacity: 0.5;
}
label[for='showEmpty'] {
  font-size:24px;
}